// Colors

$primary-color: #17181a;
$secondary-color: #f2f2f2;
$overlay-el-lvl-1-color: rgba(255, 255, 255, 0.01);
$button-generate-joke-color: #bb86fc;
$button-generate-joke-on-hover-color: #d7b7fd;

// Font-sizes

$h1-font: 4rem;
$h2-font: 3rem;
$h3-font: 2.5rem;
$h4-font: 2.2rem;
$p-font: 1.6rem;
$a-font: 2rem;
