@use "../abstracts/variables" as v;

body {
  background-color: v.$primary-color;
  color: v.$secondary-color;
}

header {
  background-color: v.$overlay-el-lvl-1-color;
}

button.generate-joke {
  background-color: v.$button-generate-joke-color;
  color: v.$primary-color;
  &:hover {
    background-color: v.$button-generate-joke-on-hover-color;
  }
}

a {
  color: v.$secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: v.$button-generate-joke-color;
}
