@use "../abstracts/mixins" as m;

header {
  @include m.flex(normal, center, column);
  min-height: 10vh;
  margin-bottom: 3rem;
  nav {
    max-width: 60.5rem;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  ul {
    @include m.flex(normal, center, row);
    flex-wrap: wrap;
    gap: 2rem;
  }
  li {
    list-style: none;
  }
  .active {
    text-decoration: underline;
  }
}
