@use "../abstracts/variables" as v;

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: v.$h1-font;
}

h2 {
  font-size: v.$h2-font;
}

h3 {
  font-size: v.$h3-font;
}

h4 {
  font-size: v.$h4-font;
}

p,
ul {
  line-height: 2.5rem;
}

p,
li,
button {
  font-size: v.$p-font;
}

a {
  font-size: v.$a-font;
}

.bold {
  font-weight: 700;
}
