@use "../abstracts/mixins" as m;

section#bilder {
  max-width: 100rem;
  h1,
  p {
    max-width: 62.5rem;
    margin: auto;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  .gallery {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img-wrapper-1 {
      max-width: 96rem;
      height: 38rem;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .img-wrapper-2 {
      max-width: 48rem;
      height: 32rem;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .img-wrapper-3 {
      max-width: 48rem;
      height: 32rem;
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .img-wrapper-4 {
      max-width: 48rem;
      height: 64rem;
      grid-column: 2/3;
      grid-row: 2/4;
    }
    .img-wrapper-5 {
      max-width: 96rem;
      height: 38rem;
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
}

@media screen and (max-width: 480px) {
  section#bilder {
    .gallery {
      .img-wrapper-1 {
        max-width: 48rem;
      }
      .img-wrapper-2 {
        max-width: 24rem;
        height: 22rem;
      }
      .img-wrapper-3 {
        max-width: 24rem;
        height: 22rem;
      }
      .img-wrapper-4 {
        max-width: 24rem;
        height: 44rem;
      }
      .img-wrapper-5 {
        max-width: 48rem;
      }
    }
  }
}
